.ietvars {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(206, 199, 199);
}

h1 {
    text-align: center;
    background: rgb(233, 214, 129);
    color: rgb(0, 0, 0);
}

ul {
    text-align: center;
    padding: 0px;
}

li {
    display: inline-block;
}

.speles_lauk {
    background: rgb(54, 54, 54);
    width: 520px;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.bloks {
   background : rgb(141, 8, 8);
}