.ietvars {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(206, 199, 199);
}

h1 {
    text-align: center;
    background: rgb(90, 189, 255);
    color: darkblue;
}

ul {
    text-align: center;
    padding: 0px;
}

li {
    display: inline-block;
}