.ietvars {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(180, 178, 178);
}

h1 {
    text-align: center;
    background: rgb(152, 198, 241);
    color: rgb(2, 22, 109);
}

ul {
    text-align: center;
    padding: 0px;
}

li {
    display: inline-block;
}

.speles_lauk {
    background: black;
    width: 520px;
    justify-content: center;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.bloks {
    background: red;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 45px;
    display: flex;
    border-radius: 5px;
}

a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: cadetblue;
    color: aliceblue;
    border: 2px solid rgb(41, 83, 85);
    border-radius: 5px;
    transition: background-color 0.03s, transform 0.02s;
}

a:hover{
    background-color:rgb(41, 83, 85);
    transform: scale(1.05)
}

a:active{
background-color:rgb(41, 83, 85);
color: rgb(2, 22, 109);
transform: scale(1.05)
}